/* Umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  input, button {
    padding: 10px;
    margin: 5px 0;
  }
  
  /* Login Style */
  .login-body {
    background: #f3f3f3;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .login-box {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
  }
  
  /* Dashboard */
  .dashboard-body {
    background: #eef1f5;
    padding: 20px;
  }
  
  .dashboard-container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  .filter-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead th {
    background: #007bff;
    color: white;
    padding: 10px;
  }
  
  td, th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .form-box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  
  